.root {
    appearance: none;
    border: none;
    background: hotpink;
    color: white;
    border-radius: 2em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5em 1em;
    line-height: 1;
}
